body {
  background-color: lavender;
  text-align: center;
  color: black;
  font-size: 200%;
}

img {
  width: 400px}
img{      src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Sarah_Chang_before_performing.jpg"
  height: 50px
}
table{
  font-size:60%;
  style:font-family:Times;
  color:purple;
}

